.header {
  background-color: #66cdaa;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6em;  
}
.header-avatar {
  max-width: 250px;
}
.header-avatar img{
  width: 100%;
}

.header-username{
  margin: 1em 0;
  color:white;
  font-size: 1.8em;
}